<div class="about">
  <% @title = "About Jonathan Weyermann" %>
  <div id="about" role="main" class="group">
    	<h1>Welcome to my Homepage</h1>
          <section>
            <%= image_tag "Jonathan.png" %>
            <p>On this site I discuss some of my interests, personal productivity, and some of the projects I'm working on.</p>
            <p>I'm proficient in a variety of programming languages, such as C, C#, C++, Java, PHP as well as Ruby on Rails</p>
          </section>
          <section>
            <div id="aboutfields">
              <%= image_tag "university_of_alberta.jpg" %>
              <p>Currently a computer science student at the University of Alberta, Canada. Graduating in May 2015</p>
            </div>
            <div id="aboutfields">
              <%= image_tag "railslogo.png" %>
              <p> I'm currently building a <a href="posts/18">Quiz Training</a> Ruby on Rails App. The Beta version should be up soon.</p>
            </div>
            <div id="aboutfields">
              <%= image_tag "aspnet_logo.png" %>
              <p>Another project I'm working on is an C# asp.net productivity app. Details coming soon</p>
            </div>
            <div id="aboutfields">
              <%= image_tag "android.jpg" %>
              <p>I'm also developing an android fitness app. Details coming soon</p>
            </div>
          </section>
  </div>
</div>