<h2><b><%= @category.name %></b></h2>
<div id="post-index">
    <% if @posts.exists? %>
       <div class="row">
          <div class="col-md-6">
            <% @posts.each_with_index do |post,x| %>
              <% if x%2==0 %>
                <% user = @users.find(post.user_id) %>       
                <div class="post">       
                    <div class="post-content">
                      <h2><%= post.title %></h2>
                      <%= image_tag post.image.url,width:'100%' %>
                      <small>Posted by <%= user.name  %> on <%= post.created_at.to_time.strftime("%B %e at %l:%m %p") %></small>
                      <%= raw post.body.truncate(400) %>
                      <%=link_to "Read More", post_path(post), class:'btn btn-primary' %>
                    </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-6">
            <% @posts.each_with_index do |post,x| %>
              <% if x%2!=0 %>
                  <% user = @users.find(post.user_id) %>
                  <div class="post">
                      <div class="post-content">
                        <h2><%= post.title %></h2>
                        <%= image_tag post.image.url,width:'100%' %>
                          <small>Posted by <%= user.name  %> on <%= post.created_at.to_time.strftime("%B %e at %l:%m %p") %></small>
                          <%= raw post.body.truncate(400) %>
                          <%=link_to "Read More", post_path(post), class:'btn btn-primary' %>
                      </div>
                  </div> 
              <% end %>
            <% end %>
          </div>
        </div>
    <% else %>
      <p>No posts yet</p>
    <% end %>
</div>